.enqA, .enqB > h1:hover {
  cursor: pointer;
}

.form-column {
  max-width: 850px;
  height: 50vh;
}

.formBox {
  height: 100%;
}

.formBoxB {
  padding: 2rem;
}

.mexBox {
  display: flex;
  align-items: center;
}
